main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container-empty {
  background: rgb(29, 88, 90);
  width: 850px;
  height: 450px;
  border: none;
  border-radius: 20px 0 0 20px;
}

.container-login {
  width: 350px;
  height: 450px;
  background-color: rgb(20, 168, 173);
  border: none;
  border-radius: 0 20px 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container-title {
  margin-bottom: 15px;
  font-size: 24px;
  color: azure;
}


form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-register {
  width: 250px;
}

.container-register p {
  color: azure;
  text-align: center;
  font-size: 1.2rem;
}

.container-register p a {
  text-decoration: none;
  color: azure;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-submit {
  background-color: rgb(29, 88, 90);
}